.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
}

.title {
  font-size: 4rem;
  margin-top: 900px;
  color: white;
  font-family: Arial, sans-serif;
}

.credit-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.credit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  flex-direction: row; /* new */
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.credit-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.credit-name {
  font-size: 2.5rem;
  margin-bottom: 5px;
  color: white;
  font-family: Arial, sans-serif;
}

.credit-role {
  font-size: 1.5rem;
  margin-top: 0px;
  color: white;
  font-family: Arial, sans-serif;
}

.subtitle {
  font-size: 3rem;
  color: white;
  font-family: Arial, sans-serif;
  float: left;
}

.thanks {
  display: flex;
  align-items: center;
}