.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "credits beta-testers more";
  background-color: #FF6BAC;
  padding: 10px;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 3px solid;
}

.footer-section {
  padding: 10px;
}

.beta-testers {
  grid-area: beta-testers;
}
