.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.header-title {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 32px;
  color: #ffffff;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.header-nav li {
  margin-left: 20px;
}

.header-nav li:first-child {
  margin-left: 0;
}

.header-nav a {
  color: #fff;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  font-family: Arial, sans-serif;|
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
}

.header-nav a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-title-link {
  text-decoration: none;
  color: #fff;
}
