.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 3px solid;
}

.footer-section {
  padding: 10px;
}
